* {
  margin: 0;
  padding: 0;
}

:root {
  --bs-primary: #00adb5;
  --bs-primary-rgb: 0, 173, 181;
  --bs-dark: #222831;
  --bs-dark-rgb: 34, 40, 49;
  --bs-secondary: #393e46;
  --bs-secondary-rgb: 57, 62, 70;
  --bs-light: #eeeeee;
  --bs-light-rgb: 238, 238, 238;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--bs-dark) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--bs-dark);
}
